@charset "UTF-8"; /* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym,
{
	margin: 0;
	padding: 0;
	border:0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: left;
}

body{
	h3{
         color: red;
     }
     
     }